/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f5f5f5;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 80px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

/* Logo */
.logo img{
    width: 140px;
    cursor: pointer;
}

/* Navigation */
.nav-links{
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #ff7a00;
}

/* Button */
.register-btn{
    text-decoration: none;
    background: rgb(172, 172, 241);
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;
}

.register-btn:hover{
    background: rgb(172, 172, 241);
    
}
/*             section1 */
/* Hero Section */
.hero{
    height: 100vh;
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
}

/* Dark Overlay */
.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

/* Content */
.hero-content{
    position: relative;
    z-index: 1;
    color: white;
}

/* Caption */
.hero-caption{
    font-size: 20px;
    /* letter-spacing: 2px; */
    margin-bottom: 20px;
    align-items: center;
}

/* Heading */
.hero-content h1{
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 40px;
}

/* Button */
.hero-btn{
    display: inline-block;
    text-decoration: none;
    background: rgb(154, 154, 241);
    
    color: white;
    padding: 15px 35px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
}

.hero-btn:hover{
    background: rgb(68, 68, 250);
}
/*            meet the   speaker section  */

.speakers-section{
    padding: 100px 80px;
    background-color: #ffffff;
}

/* Section Heading */
.section-heading{
    text-align: center;
    margin-bottom: 60px;
}

.section-heading h3{
    color: #6ca6c1;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.section-heading h2{
    color: #111111;
    font-size: 45px;
}

/* 2 Columns and 2 Rows */
.speakers-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 80px;
}

/* Speaker Card */
.speaker-card{
    text-align: left;
}

/* Speaker Photo */
.speaker-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}

/* Speaker Details */
.speaker-info span{
    display: inline-block;
    background-color: #dff4fa;
    color: #5c9db2;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 12px;
}

.speaker-info h3{
    color: #111111;
    font-size: 24px;
    margin-bottom: 8px;
}

.speaker-info p{
    color: #777777;
    font-size: 15px;
}
/* secure spot colum */
/* Pricing Section */
.pricing-section{
    padding: 100px 80px;
    background-color: #f8fafb;
}

/* Heading */
.pricing-heading{
    text-align: center;
    margin-bottom: 60px;
}

.pricing-heading h3{
    color: #6ca6c1;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.pricing-heading p{
    color: #555555;
    font-size: 18px;
}

/* Pricing Cards */
.pricing-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* Common Card */
.pricing-card{
    padding: 40px 35px;
    border-radius: 12px;
    min-height: 550px;
}

/* White Cards */
.light-card{
    background-color: #ffffff;
    color: #111111;
}

/* Dark Card */
.dark-card{
    background-color: #0D1B2A;
    color: #ffffff;
}

/* Plan Name */
.pricing-card h2{
    font-size: 24px;
    margin-bottom: 25px;
}

/* Price */
.pricing-card h3{
    font-size: 45px;
    margin-bottom: 5px;
}

/* Per Person */
.per-person{
    color: #777777;
    margin-bottom: 35px;
}

.dark-card .per-person{
    color: #c4cbd2;
}

/* Features */
.pricing-card ul{
    list-style: none;
    padding: 0;
    margin-bottom: 35px;
}

.pricing-card ul li{
    margin-bottom: 18px;
    font-size: 15px;
}

/* Check mark */
.pricing-card ul li::before{
    content: "✓";
    margin-right: 10px;
    color: #6ca6c1;
    font-weight: bold;
}

/* Button */
.get-started-btn{
    display: inline-block;
    text-decoration: none;
    background-color: #ffffff;
    color: #0D1B2A;
    padding: 13px 25px;
    border-radius: 25px;
    font-weight: 600;
    transition: 0.3s;
}

/* Button hover */
.get-started-btn:hover{
    background-color: #dff4fa;
}
/* generate */


/* AI Section */
.ai-section{
    padding: 100px 80px;
    background-color: #ffffff;
}

/* AI Box */
.ai-box{
    width: 100%;
    min-height: 500px;

    background-color: #EDE9FE;

    border: 3px dotted #8b5cf6;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

/* Heading */
.ai-box h3{
    color: #8b5cf6;
    font-size: 35px;
    margin-bottom: 15px;
}

/* Paragraph */
.ai-box p{
    color: #8b5cf6;
    font-size: 20px;
    font-weight: 700;

}


/* newsletter */

/* Newsletter Section */
.newsletter-section{
    padding: 100px 80px;
    background-color: #f8fafb;
}

/* Content */
.newsletter-content{
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

/* Caption */
.newsletter-content h3{
    color: #6ca6c1;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

/* Heading */
.newsletter-content h2{
    color: #0D1B2A;
    font-size: 42px;
    margin-bottom: 18px;
}

/* Paragraph */
.newsletter-content p{
    color: #666666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 35px;
}

/* Form */
.newsletter-form{
    display: flex;
    justify-content: center;
    gap: 12px;
}

/* Input */
.newsletter-form input{
    width: 350px;
    padding: 15px 20px;
    border: 1px solid #dddddd;
    border-radius: 30px;
    outline: none;
    font-size: 14px;
}

/* Button */
.newsletter-form button{
    border: none;
    background-color: #0D1B2A;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.newsletter-form button:hover{
    background-color: #6ca6c1;
}


/* Community Section */
.community-section{
    padding: 100px 80px;
    background-color: #ffffff;
}

/* Main Box */
.community-content{
    position: relative;

    max-width: 1200px;
    min-height: 400px;

    margin: 0 auto;

    background-color: #0D1B2A;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    overflow: hidden;
}

/* Decorative circles */
.community-content::before{
    content: "";

    position: absolute;

    width: 250px;
    height: 250px;

    border: 1px solid #6ca6c1;
    border-radius: 50%;

    top: -100px;
    left: -80px;

    opacity: 0.4;
}

.community-content::after{
    content: "";

    position: absolute;

    width: 300px;
    height: 300px;

    border: 1px solid #6ca6c1;
    border-radius: 50%;

    bottom: -150px;
    right: -100px;

    opacity: 0.4;
}

/* Caption */
.community-caption{
    color: #6ca6c1;

    font-size: 14px;

    letter-spacing: 3px;

    font-weight: 700;

    margin-bottom: 18px;

    position: relative;
    z-index: 1;
}

/* Heading */
.community-content h2{
    color: #ffffff;

    font-size: 48px;

    text-transform: capitalize;

    margin-bottom: 20px;

    position: relative;
    z-index: 1;
}

/* Paragraph */
.community-text{
    color: #c4cbd2;

    max-width: 550px;

    line-height: 1.6;

    font-size: 16px;

    margin-bottom: 35px;

    position: relative;
    z-index: 1;
}

/* Button */
.community-btn{
    text-decoration: none;

    background-color: #ffffff;

    color: #0D1B2A;

    padding: 14px 30px;

    border-radius: 30px;

    font-weight: 600;

    transition: 0.3s;

    position: relative;
    z-index: 1;
}

.community-btn:hover{
    background-color: #6ca6c1;

    color: #ffffff;
}
/*                         footer              */
.footer{
    background-color: #0D1B2A;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 80px;

    color: #ffffff;
}

.footer p{
    font-size: 12px;
    color: #c4cbd2;
}

.footer-links{
    display: flex;
    gap: 25px;
}

.footer-links a{
    text-decoration: none;
    color: #c4cbd2;
    font-size: 12px;
}

.footer-links a:hover{
    color: #ffffff;
}